---
extends: base.j2
title: About MuirTec
description: The default hyde template
---

{% block css -%}
{{ super() }}
<link rel="stylesheet" href="{{ media_url('css/about.css') }}">
{% endblock %}

{% block main -%}
<img id="about-image" src="{{ media_url('img/about.jpg') }}"/>

{% filter markdown|typogrify -%}

MuirTec was founded in 1996 to provide professional services in structural, civil and construction engineering
for industrial, commercial and municipal facilities and infrastructure, restoration, construction and project
coordination.

MuirTec has developed considerable experience in bridge rehabilitation, hydraulic structure
design, masonry design, specialized equipment structural design, rigging design, and heavy industrial design.
Our clients consist of local and international companies in the public and private sectors.

With MuirTec on your team, you obtain a safe, economic
and practical solution to the tough structural problems.

{%- endfilter %}

<div id="association-container">
<h4>Associated Organizations</h4>
<a href="http://www.apegs.sk.ca/" target="_blank"><img class="association" src="{{ media_url('img/associations/apegs.gif') }}" alt="Association of Professional Engineers and Geoscientists of Saskatchewan"/></a>
<a href="http://www.peo.on.ca/" target="_blank"><img class="association" src="{{ media_url('img/associations/PEO.gif') }}" alt="Professional Engineers of Ontario" /></a>
<a href="http://www.apeg.bc.ca/" target="_blank"><img class="association" src="{{ media_url('img/associations/apegtl.gif') }}" alt="Association of Professional Engineers and Geoscientists of British Columbia"/></a>
<a href="http://www.apegga.org/" target="_blank"><img class="association" src="{{ media_url('img/associations/apegga.gif') }}" alt="Association of Professional Engineers, Geologists, and Geophysicists of Alberta"/></a>
<a href="http://www.ospe.on.ca/" target="_blank"><img class="association" src="{{ media_url('img/associations/OSPE.gif') }}" alt="Ontario Society of Professional Engineers"/></a>
</div>
{%- endblock %}
